<header class="header">
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix Logo">
    </div>
    <ul class="nav-links">
        @for (item of navItems; track item.label) {
        <li><a [routerLink]="item.link">{{ item.label }}</a></li>
        }
    </ul>
    <div class="secondary-nav">
        <div class="search-box">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Titles, people, genres" [(ngModel)]="searchTerm" (keyup.enter)="onSearch()">
        </div>
        <div class="user-profile" *ngIf="auth.currentUser() as user">
            <a routerLink="/settings" style="color: white; margin-right: 15px; font-size: 1.2rem;" title="Settings"><i
                    class="bi bi-gear-fill"></i></a>
            <img [src]="user.photoUrl" alt="User Profile">
            <span class="carets"></span>
        </div>
    </div>
</header>